<html>
  <head>
    <script src="/path/to/handlebars.js"></script>
    <link rel="stylesheet" href="/path/to/tailwind.css">
    
  </head>
  <body>
    <div class="container">
      <h1 class="text-4xl font-bold text-center">{{largeNumber}}</h1>
      <form>
        <input type="text" placeholder="Item name">
        <input type="text" placeholder="Cost">
        <input type="text" placeholder="Merchant">
        <input type="text" placeholder="Category">
        <button type="submit">Submit</button>
      </form>
      <table>
        <tr>
          <th>Item</th>
          <th>Cost</th>
          <th>Merchant</th>
          <th>Category</th>
        </tr>
        {{#each entries}}
        <tr>
          <td>{{item}}</td>
          <td>{{cost}}</td>
          <td>{{merchant}}</td>
          <td>{{category}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
  </body>
</html>